<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Yearly income:</strong>
  <%= @customer.yearly_income %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @customer.currency %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %> | <%= link_to 'New Loan', new_customer_loan_path(@customer) %>
