<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @loan.amount %>
</p>

<p>
  <strong>Number of installments:</strong>
  <%= @loan.number_of_installments %>
</p>


<p>
  <strong>Interest:</strong>
  <%= @loan.interest %>
</p>

<p>
  <strong>Total Amount:</strong>
  <%= @loan.total_amount %>
</p>

<%= link_to 'Edit', edit_customer_loan_path(@loan) %> |
<%= link_to 'Back', customer_loans_path(@customer) %>
